nav {
	background-color: #1a4865 !important;
	color: #fff;
	padding-left: calc(10vw);
	padding-right: calc(10vw);
	border-bottom: 1px solid #e8e8e8;
}
li.nav-item a.nav-link {
	color: #fff;
}
li.nav-item.active a.nav-link {
	border-bottom: 0.1em solid #fff;
}

.navbar-brand, .navbar-brand :hover{
	color: #fff !important;
	text-decoration: none !important;
}