<div class="container-fluid">
    <div *ngIf="isLoaded; else spinner" class="row content-wrapper">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="content">
                <h2 class="posts-heading">Posts</h2>
                <div *ngFor="let blog of blogs">
                    <div *ngIf="blog.isPublished" class="blog-wrapper">
                        <small class="text-muted">{{ blog.date | date:'shortDate'}}</small><br>
                        <a [routerLink]="['/read', blog.link]">
                            {{ blog.title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>
